h4 {
  margin-bottom: 50px;
}

.btn {
  color: #9b9b9b;
  margin-top: 0px;
  height: 48px;
  width: 150px;
  border: 1px solid #9b9b9b;
}

.btn1 {
  margin-top: 0px;
  height: 48px;
  width: 150px;
  background-color: #db3022;
}

.btn2 {
  background-color: #db3022;
}

.btn3 {
  background-color: #db3022;
}

.logo {
  margin-right: 20px;
  height: 40px;
}

@media only screen and (max-width: 600px) {
  .input-wrap {
    width: 80%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .input-wrap {
    width: 60%;
  }
}
@media only screen and (min-width: 800px) {
  .input-wrap {
    width: 30%;
  }
}
