.navbar {
  position: absolute;
  width: 1440px;
  height: 100px;
  left: 0px;
  top: 0px;
  margin-left: 30em;

  background: #ffffff;
  box-shadow: 0px 6px 40px rgba(173, 173, 173, 0.25);
}

.container1 {
  width: 200px;
  height: 1000px;
  display: flex center;
  margin-top: 10rem;
  margin-left: 40rem;
}

.btn {
  color: #ca1414;
  border-color: #ca1414;
  border-radius: 1, 25rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.3rem 0.75rem;
  padding-top: 0%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 0.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 1.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.carousel-inner {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.card {
  padding: top 1px;
  justify-content: center;
  display: flex;
  margin-top: 50rem;
}
